* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  /* font-family: 'Be Vietnam Pro', sans-serif; */
  background-color: #fdebf7;
}

.imgEquipos {
  border-radius: 30px;
  padding: 5px;
  border: 5px;
  margin: 1px;
}