// Agregar colores para título y textos

$colorTitulo: #3d405b;
$colorTexto: #343a40;

$colorHeader: #fad2e1;
$colorFooter: #fad2e1;

$colorBody: #fde2e4;

$colorCard: #f0efeb;

$colorTitulo: #22223b;

$colorTexto: #4a4e69;

